/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap");
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
* {
  font-family: "Montserrat", serif !important;
  transition: .3s linear;
}

/* line 14, ../sass/style.scss */
.hid {
  visibility: hidden !important;
  display: none !important;
}

/* line 18, ../sass/style.scss */
body {
  background: #F6F6F6;
}

/* line 22, ../sass/style.scss */
.main-section {
  padding-top: 5em;
  position: relative;
  height: 100%;
  background: url("../images/main.png") no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
}
/* line 31, ../sass/style.scss */
.main-section .main-text {
  color: #ff6777;
  text-align: center;
  line-height: 1.7;
}
/* line 35, ../sass/style.scss */
.main-section .main-text h1 {
  font-size: 53px;
  font-weight: bolder;
}
/* line 39, ../sass/style.scss */
.main-section .main-text p {
  font-weight: 400;
  font-size: 30px;
  color: #286d9d;
}
@media screen and (max-width: 992px) {
  /* line 45, ../sass/style.scss */
  .main-section .main-text h1 {
    font-size: 37px !important;
  }
}
@media screen and (max-width: 576px) {
  /* line 51, ../sass/style.scss */
  .main-section .main-img {
    width: 270px !important;
  }
}

/* line 58, ../sass/style.scss */
.sec2 .descr .dev-cont.col-12 {
  padding: 0 !important;
}
/* line 60, ../sass/style.scss */
.sec2 .descr .dev-cont.col-12 .devider {
  width: 10em;
  height: 2px;
  background: #eee;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 992px) {
  /* line 60, ../sass/style.scss */
  .sec2 .descr .dev-cont.col-12 .devider {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
/* line 74, ../sass/style.scss */
.sec2 .descr h5 {
  font-size: 30px;
  color: #ff6777;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  /* line 74, ../sass/style.scss */
  .sec2 .descr h5 {
    text-align: center;
    padding-top: 1.5rem;
  }
}
/* line 85, ../sass/style.scss */
.sec2 .descr ul li {
  font-weight: 400;
  font-size: 18px;
  color: #286d9d;
  line-height: 1.2;
}
/* line 92, ../sass/style.scss */
.sec2 .descr ul li:before {
  content: '\2713   ';
  color: #ff6777;
  font-weight: bolder;
  font-size: 22px;
}
@media screen and (max-width: 576px) {
  /* line 101, ../sass/style.scss */
  .sec2 .float-md-left {
    float: none !important;
  }
}
/* line 105, ../sass/style.scss */
.sec2 #ifr {
  width: 550px;
  height: 350px;
}
@media screen and (max-width: 1280px) {
  /* line 105, ../sass/style.scss */
  .sec2 #ifr {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 1280px) and (max-width: 992px) {
  /* line 105, ../sass/style.scss */
  .sec2 #ifr {
    width: 80%;
    height: 350px;
  }
}

@media screen and (max-width: 1280px) and (max-width: 992px) and (max-width: 576px) {
  /* line 105, ../sass/style.scss */
  .sec2 #ifr {
    width: 100% !important;
    height: 30vh !important;
  }
}

/* line 126, ../sass/style.scss */
.sec3 .exportFormTitle {
  font-size: 22px;
  color: #ff6777;
  font-weight: bold;
}
/* line 131, ../sass/style.scss */
.sec3 .freebirdFormviewerViewNavigationNavControls *, .sec3 .freebirdFormviewerViewNavigationNavControls:focus *, .sec3 .freebirdFormviewerViewNavigationNavControls:hover *, .sec3 .freebirdFormviewerViewNavigationNavControls:active * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* line 136, ../sass/style.scss */
.sec3 #shower {
  display: none;
  font-size: 25px;
  font-weight: bolder;
  color: #ff6777;
  text-align: center;
}
/* line 142, ../sass/style.scss */
.sec3 #shower .fz-40 {
  font-size: 40px;
}
@keyframes showwww {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiderrr {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 157, ../sass/style.scss */
.sec3 .fields {
  font-size: 18px;
  color: #286d9d;
  font-weight: 600;
}
/* line 162, ../sass/style.scss */
.sec3 div[role="listitem"] *, .sec3 div[role="listitem"]:focus *, .sec3 div[role="listitem"]:hover *, .sec3 div[role="listitem"]:active * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* line 168, ../sass/style.scss */
.sec3 #name, .sec3 #text, .sec3 #email {
  width: 100%;
  color: #ff6777;
  padding: .25em 1em .25em 1em;
  border: 2px solid #ffd7db !important;
  border-radius: 30px;
  margin-top: .25em;
}
/* line 175, ../sass/style.scss */
.sec3 #name :hover, .sec3 #name :focus, .sec3 #name :active, .sec3 #text :hover, .sec3 #text :focus, .sec3 #text :active, .sec3 #email :hover, .sec3 #email :focus, .sec3 #email :active {
  border: 2px solid #ffcdd2 !important;
  border-radius: 30px;
}
/* line 180, ../sass/style.scss */
.sec3 #submit {
  border-radius: 30px;
}
/* line 183, ../sass/style.scss */
.sec3 .freebirdFormviewerViewItemsItemRequiredAsterisk {
  color: #ff6777;
}
/* line 187, ../sass/style.scss */
.sec3 .privat[disabled] {
  filter: grayscale(1);
}
