@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
* {
  font-family: "Montserrat", serif !important;
  transition: .3s linear;
}

/* line 14, ../sass/style.scss */
.hid {
  visibility: hidden !important;
  display: none !important;
}

/* line 18, ../sass/style.scss */
body {
  background: #F6F6F6;
}

/* line 25, ../sass/style.scss */
.blue {
  color: #286d9d;
}

/* line 28, ../sass/style.scss */
.blck {
  color: black;
}

/* line 31, ../sass/style.scss */
.green {
  color: green !important;
}

/* line 35, ../sass/style.scss */
.r-text {
  color: #ff6777 !important;
}

/* line 38, ../sass/style.scss */
.exportFormTitle {
  font-size: 22px;
  color: #ff6777;
  font-weight: bold;
}

/* line 43, ../sass/style.scss */
.freebirdFormviewerViewNavigationNavControls *, .freebirdFormviewerViewNavigationNavControls:focus *, .freebirdFormviewerViewNavigationNavControls:hover *, .freebirdFormviewerViewNavigationNavControls:active * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* line 48, ../sass/style.scss */
#shower, #shower2 {
  display: none;
  font-size: 25px;
  font-weight: bolder;
  color: #ff6777;
  text-align: center !important;
}
/* line 54, ../sass/style.scss */
#shower .fz-40, #shower2 .fz-40 {
  font-size: 40px;
}

@keyframes showwww {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiderrr {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 69, ../sass/style.scss */
.fields {
  font-size: 18px;
  color: #286d9d;
  font-weight: 600;
}

/* line 74, ../sass/style.scss */
div[role="listitem"] *, div[role="listitem"]:focus *, div[role="listitem"]:hover *, div[role="listitem"]:active * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* line 80, ../sass/style.scss */
#name, #name_next, #text, #text_next, #email, #email_next {
  width: 100%;
  color: #ff6777;
  padding: .25em 1em .25em 1em;
  border: 2px solid #ffd7db !important;
  border-radius: 30px;
  margin-top: .25em;
}
/* line 87, ../sass/style.scss */
#name :hover, #name :focus, #name :active, #name_next :hover, #name_next :focus, #name_next :active, #text :hover, #text :focus, #text :active, #text_next :hover, #text_next :focus, #text_next :active, #email :hover, #email :focus, #email :active, #email_next :hover, #email_next :focus, #email_next :active {
  border: 2px solid #ffcdd2 !important;
  border-radius: 30px;
}

/* line 92, ../sass/style.scss */
#submit, #submit2 {
  border-radius: 30px;
}

/* line 95, ../sass/style.scss */
.freebirdFormviewerViewItemsItemRequiredAsterisk {
  color: #ff6777;
}

/* line 98, ../sass/style.scss */
.bld {
  font-weight: bold !important;
}

/* line 101, ../sass/style.scss */
.w992 {
  max-width: 1280px;
}

/* line 104, ../sass/style.scss */
.main-section {
  padding-top: 5em;
  position: relative;
  height: 100%;
  background: url("../images/main.png") no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
}
/* line 113, ../sass/style.scss */
.main-section .main-text {
  color: #ff6777;
  text-align: center;
  line-height: 1.7;
}
/* line 117, ../sass/style.scss */
.main-section .main-text h1 {
  font-size: 35px;
  font-weight: 900;
}
/* line 121, ../sass/style.scss */
.main-section .main-text p {
  font-weight: 400;
  font-size: 30px;
  color: #286d9d;
}
@media screen and (max-width: 992px) {
  /* line 127, ../sass/style.scss */
  .main-section .main-text h1 {
    font-size: 37px !important;
  }
}
@media screen and (max-width: 576px) {
  /* line 133, ../sass/style.scss */
  .main-section .main-img {
    width: 270px !important;
  }
}

/* line 139, ../sass/style.scss */
.sec2 h5, .organizer h5 {
  font-size: 30px;
  color: #ff6777;
  font-weight: bold;
  line-height: 1.4;
}
/* line 146, ../sass/style.scss */
.sec2 .descr h5, .organizer .descr h5 {
  font-size: 30px;
  color: #ff6777;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  /* line 146, ../sass/style.scss */
  .sec2 .descr h5, .organizer .descr h5 {
    text-align: center;
    padding-top: 1.5rem;
  }
}
/* line 157, ../sass/style.scss */
.sec2 .descr ul li, .organizer .descr ul li {
  font-weight: 400;
  font-size: 18px;
  color: #286d9d;
  line-height: 1.2;
}
/* line 164, ../sass/style.scss */
.sec2 .descr ul li:before, .organizer .descr ul li:before {
  content: '\2713   ';
  color: #ff6777;
  font-weight: bolder;
  font-size: 22px;
}
/* line 173, ../sass/style.scss */
.sec2 .lh-2, .organizer .lh-2 {
  line-height: 1.7 !important;
}
@media screen and (max-width: 576px) {
  /* line 177, ../sass/style.scss */
  .sec2 .float-md-left, .organizer .float-md-left {
    float: none !important;
  }
}
/* line 181, ../sass/style.scss */
.sec2 #ifr, .organizer #ifr {
  width: 550px;
  height: 350px;
}
@media screen and (max-width: 1280px) {
  /* line 181, ../sass/style.scss */
  .sec2 #ifr, .organizer #ifr {
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 1280px) and (max-width: 992px) {
  /* line 181, ../sass/style.scss */
  .sec2 #ifr, .organizer #ifr {
    width: 80%;
    height: 350px;
  }
}

@media screen and (max-width: 1280px) and (max-width: 992px) and (max-width: 576px) {
  /* line 181, ../sass/style.scss */
  .sec2 #ifr, .organizer #ifr {
    width: 100% !important;
    height: 30vh !important;
  }
}

/* line 201, ../sass/style.scss */
.dev-cont.col-12 {
  padding: 0 !important;
}
/* line 203, ../sass/style.scss */
.dev-cont.col-12 .devider {
  width: 10em;
  height: 2px;
  background-image: linear-gradient(to right, #ff667d, #ff6600);
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (max-width: 992px) {
  /* line 203, ../sass/style.scss */
  .dev-cont.col-12 .devider {
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

/* line 217, ../sass/style.scss */
.public-offert .sec1 {
  height: 70vh;
}
/* line 219, ../sass/style.scss */
.public-offert .sec1 .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* line 226, ../sass/style.scss */
.public-offert .sec1 .wrapper h1 {
  color: #ff6777;
  font-size: 35px;
  font-weight: bold;
}
/* line 235, ../sass/style.scss */
.public-offert .sec2 blockquote *, .public-offert .organizer blockquote * {
  line-height: 1.5;
  font-size: 18px;
}
/* line 239, ../sass/style.scss */
.public-offert .sec2 blockquote h2, .public-offert .organizer blockquote h2 {
  font-size: 23px;
  font-weight: bold;
}
/* line 242, ../sass/style.scss */
.public-offert .sec2 blockquote h2 a, .public-offert .organizer blockquote h2 a {
  color: #ff6777;
  font-size: 25px;
}
/* line 247, ../sass/style.scss */
.public-offert .sec2 blockquote .fz-20, .public-offert .organizer blockquote .fz-20 {
  font-size: 20px;
}
/* line 251, ../sass/style.scss */
.public-offert .sec2 blockquote ol li, .public-offert .organizer blockquote ol li {
  padding-top: 1em;
}

/* line 259, ../sass/style.scss */
a.active[data-toggle="tab"] {
  background: #ff6777 !important;
  color: #fff !important;
}

/* line 267, ../sass/style.scss */
.organizer h5 {
  font-size: 30px;
}
/* line 269, ../sass/style.scss */
.organizer h5 span {
  font-size: 20px;
}
/* line 274, ../sass/style.scss */
.organizer .ul-cont .active {
  position: relative;
  background: #ff6777;
  color: white;
  border-color: #ff6777;
}
/* line 280, ../sass/style.scss */
.organizer .ul-cont .invesre {
  text-align: center;
  max-width: 60px;
  background: #ff6777;
  color: #fff;
  padding: .5em;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
}
/* line 290, ../sass/style.scss */
.organizer .ul-cont blockquote {
  border-left: 8px solid rgba(255, 103, 119, 0.6) !important;
}
/* line 292, ../sass/style.scss */
.organizer .ul-cont blockquote:before {
  color: rgba(255, 103, 119, 0.6) !important;
}
/* line 295, ../sass/style.scss */
.organizer .ul-cont blockquote p {
  color: #ff6777;
  font-weight: bold;
  font-size: 18px;
}
/* line 302, ../sass/style.scss */
.organizer .ul-cont .blockquote2 p {
  font-size: 18px;
  font-weight: normal;
  color: black;
}
/* line 307, ../sass/style.scss */
.organizer .ul-cont .blockquote2 h3 {
  font-size: 20px;
  line-height: 1.7;
}
/* line 312, ../sass/style.scss */
.organizer .ul-cont .blockquote2 ul li {
  font-size: 18px;
}
/* line 318, ../sass/style.scss */
.organizer .spinner-border {
  width: 1.25em;
  height: 1.25em;
}

/*****************************************footer*****************************************/
/* line 327, ../sass/style.scss */
.col_white_amrc {
  color: white;
}

/* line 331, ../sass/style.scss */
footer {
  -webkit-clip-path: polygon(0% 0%, 50% 12%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 12%, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  min-height: 1px;
  height: 100%;
  padding: 4em 0px 25px 0px;
  z-index: 1000;
  font-family: 'Montserrat', serif;
}
/* line 341, ../sass/style.scss */
footer a {
  color: white !important;
}

/* line 346, ../sass/style.scss */
.pt2 {
  font-family: 'Montserrat', serif;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 20px;
}

/* line 353, ../sass/style.scss */
.headin5_amrc {
  font-weight: bold;
}

/* line 357, ../sass/style.scss */
footer p {
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

/* line 364, ../sass/style.scss */
.mb10 {
  padding-bottom: 15px;
}

/* line 368, ../sass/style.scss */
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 16px;
  padding: 0px 0px 10px 0px;
}
/* line 374, ../sass/style.scss */
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
/* line 377, ../sass/style.scss */
.footer_ul_amrc li a {
  color: lightgray;
  transition: .5s;
}
/* line 381, ../sass/style.scss */
.footer_ul_amrc li a:hover {
  color: white;
  text-decoration: none;
  transition: .5s;
}

/* line 391, ../sass/style.scss */
.fleft {
  float: left;
  font-size: 1.5em;
  color: #fff;
}

/* line 397, ../sass/style.scss */
.padding-right {
  padding-right: 10px;
}

/* line 401, ../sass/style.scss */
.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  font-size: 1.3em;
}
/* line 408, ../sass/style.scss */
.footer_ul2_amrc li p {
  display: contents;
  color: lightgray;
}
/* line 413, ../sass/style.scss */
.footer_ul2_amrc li a {
  color: lightblue;
}
/* line 416, ../sass/style.scss */
.footer_ul2_amrc li a:hover {
  text-decoration: underline;
}
/* line 421, ../sass/style.scss */
.footer_ul2_amrc li i {
  margin-top: 5px;
  color: white;
}
/* line 425, ../sass/style.scss */
.footer_ul2_amrc li i:hover {
  color: #ff6777 !important;
}

/* line 432, ../sass/style.scss */
.bottom_border {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

/* line 437, ../sass/style.scss */
.mailto_link {
  text-decoration: none;
  color: white;
  transition: .5s;
}
/* line 442, ../sass/style.scss */
.mailto_link a {
  text-decoration: none;
  color: white;
  transition: .5s;
}
/* line 448, ../sass/style.scss */
.mailto_link:hover, .mailto_link a:hover {
  color: #ff6777 !important;
  text-decoration: unset;
  transition: .3s;
}

/* line 455, ../sass/style.scss */
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
/* line 464, ../sass/style.scss */
.foote_bottom_ul_amrc li {
  display: inline;
}
/* line 467, ../sass/style.scss */
.foote_bottom_ul_amrc li a {
  color: white;
  margin: 0 12px;
}

/* line 474, ../sass/style.scss */
.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
  padding: 0;
}
/* line 480, ../sass/style.scss */
.social_footer_ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  float: left;
}
/* line 487, ../sass/style.scss */
.social_footer_ul li i {
  width: 2em;
  height: 2em;
  text-align: center;
  transition: .6s;
}
/* line 494, ../sass/style.scss */
.social_footer_ul li a {
  width: 42px;
  height: 42px;
  line-height: 1.6em;
  color: white;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
  transition: .6s;
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
/* line 507, ../sass/style.scss */
.social_footer_ul li a:hover {
  color: #ff6777;
  box-shadow: 0 0 20px white;
}

/* line 515, ../sass/style.scss */
.payments p {
  color: white !important;
  font-size: 40px !important;
}

/* line 520, ../sass/style.scss */
.lightbg {
  position: relative;
  bottom: 4px;
  background: #fff;
  color: black;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: 8px;
  font-size: 30px;
}

/* line 531, ../sass/style.scss */
.mwdth320 {
  max-width: 320px !important;
}

/* line 535, ../sass/style.scss */
.non-rd {
  color: black !important;
}
/* line 537, ../sass/style.scss */
.non-rd p, .non-rd h5 {
  color: #ff6777 !important;
  font-size: 22px;
}
/* line 541, ../sass/style.scss */
.non-rd li {
  font-size: 18px !important;
  margin-top: 1.5rem;
}
/* line 546, ../sass/style.scss */
.non-rd .blck {
  color: black;
  font-size: 15px;
}

/* line 552, ../sass/style.scss */
blockquote {
  margin: 0 !important;
  padding: 30px 30px 30px 60px !important;
  border-left: 8px solid #CBDDE7 !important;
  position: relative !important;
  background: #fff !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
}
/* line 560, ../sass/style.scss */
blockquote:before {
  content: "“" !important;
  font-family: Arial;
  color: #CBDDE7 !important;
  font-size: 70px !important;
  position: absolute !important;
  left: 15px !important;
  top: 5px !important;
}
/* line 570, ../sass/style.scss */
blockquote blockquote p {
  font-style: italic !important;
  font-size: 24px !important;
  margin-top: 0 !important;
}
/* line 575, ../sass/style.scss */
blockquote cite {
  font-style: normal !important;
  font-weight: 300 !important;
}
@media screen and (max-width: 576px) {
  /* line 552, ../sass/style.scss */
  blockquote {
    padding: 30px 30px 30px 30px !important;
    text-align: left !important;
  }
  /* line 582, ../sass/style.scss */
  blockquote:before {
    display: none !important;
  }
}

/* line 588, ../sass/style.scss */
.smaller {
  font-size: 20px !important;
}

/* line 593, ../sass/style.scss */
.tick li:before {
  content: '\2713   ';
  color: #ff6777;
  font-weight: bolder;
  font-size: 22px;
}

/* line 600, ../sass/style.scss */
.big {
  font-size: 24px;
}
