/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: "Montserrat", serif!important;
	transition: .3s linear;
}

.hid {
	visibility: hidden!important;
	display: none!important;
}
body {
	background:#F6F6F6;
}
$rd :#ff6777;
$blu : #286d9d;
$gr: green;
$blk: black;
.blue {
	color: $blu!important;
}
.blck {
	color: $blk!important;
}
.green {
	color: $gr!important;
}

.r-text {
	color: $rd!important;
}

.rad-30 {
	border-radius: 30px!important;
}
@media screen and (max-width: 576px){
	.smallOn576 {
		font-size: 15px!important;
		i[data-brand="google"] {
			font-size: 15px!important;
		}
	}
	@media screen and (max-width: 350px) {
		.smallOn576 {
			font-size: 13px!important;
			i[data-brand="google"] {
				font-size: 13px!important;
			}
		}
	}
}

.exportFormTitle {
		font-size: 22px;
		color: $rd;
		font-weight: bold;
	}
	.freebirdFormviewerViewNavigationNavControls *,.freebirdFormviewerViewNavigationNavControls:focus *, .freebirdFormviewerViewNavigationNavControls:hover *, .freebirdFormviewerViewNavigationNavControls:active * {
		border:none!important;
		outline:none!important;
		box-shadow: none!important;
	}
	#shower, #shower2 {
		display: none;
		font-size:25px;
		font-weight: bolder;
		color: $rd;
		text-align: center!important;
		.fz-40 {
			font-size: 40px;
		}
	}

	

	@keyframes showwww {
		0%{opacity: 0;}
		100%{opacity: 1;}
	}
	@keyframes hiderrr {
		0%{opacity: 1;}
		100%{opacity: 0;}
	}
	.fields {
		font-size:18px;
		color:$blu;
		font-weight: 600; 
	}
	div[role="listitem"] *, div[role="listitem"]:focus *, div[role="listitem"]:hover *, div[role="listitem"]:active * {
		border:none!important;
		outline: none!important;
		box-shadow: none!important;
	}

	#name, #name_next, #text, #text_next, #email, #email_next {
		width: 100%;
		color:$rd;
		padding: .25em 1em .25em 1em;
		border:2px solid lighten($rd, 22%)!important;
		border-radius: 30px;
		margin-top: .25em;
		:hover,:focus,:active {
			border:2px solid lighten($rd, 20%)!important;
			border-radius: 30px;
		}
	}
	#submit, #submit2 {
		border-radius:30px;
	}
	.freebirdFormviewerViewItemsItemRequiredAsterisk {
		color: $rd;
	}
.bld {
		font-weight: bold!important;
}
.w992 {
	max-width: 1280px;
	@media screen and (max-width: 576px) {
		width: 100%;
	}
}
.main-section {
	padding-top:5em;
	position: relative;
	height: 100%;
	background: url('../images/main.png') no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
	clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);
	.main-text {
		color: $rd;
		text-align: center;
		line-height: 1.7; 
		h1 {
			font-size: 35px;
			font-weight: 900;
		}
		p {
			font-weight: 400;
			font-size: 30px;
			color: $blu;
			@media screen and (max-width: 576px) {
					font-size: 24px!important;
			}
		}
		@media screen and (max-width: 992px) {
			h1 {
				font-size: 37px!important;
				@media screen and (max-width: 576px) {
					font-size: 27px!important;
				}
			}			
		}
	}	
	@media screen and (max-width: 576px) {
		.main-img {
			width: 270px!important;
		}
	}
}
.sec2 {
	h5 {
		font-size: 30px;
		color: $rd;
		font-weight: bold;
		line-height: 1.4;
	}
	.descr {		
		h5 {
			font-size: 30px;
			color: $rd;
			font-weight: bold;
			@media screen and (max-width: 992px) {
				text-align: center;
				padding-top: 1.5rem;
			}	
		}

		ul {			
			li {
				font-weight: 400;
				font-size: 18px;
				color: $blu;
				line-height: 1.2;
			}

			li:before {
				content: '\2713   ';
				color:$rd;
				font-weight: bolder;
				font-size: 22px;
			}
		}

	}
	.lh-2 {
			line-height: 1.7!important;
		}
	@media screen and (max-width: 576px) {
		.float-md-left {
			float: none!important;
		}
	}
	#ifr {
		width: 550px;
		height: 350px;
		@media screen and (max-width: 1280px) {
			width: 100%;
			height: 350px;
			@media screen and (max-width: 992px) {
				width: 80%;
				height: 350px;
				@media screen and (max-width: 576px) {
					width: 100%!important;
					height: 30vh!important;
				}
			}

			
		}
		
	}
}
.dev-cont.col-12 {
			padding: 0!important;
			.devider {
				width: 10em;
				height: 2px;
				background-image: linear-gradient(to right, rgb(255, 102, 125), rgb(255, 102, 0));
				margin-top: 1em;
				margin-bottom: 1em;	
				@media screen and (max-width: 992px) {
					display: block!important;
					margin-right: auto!important;
					margin-left: auto!important;
				}		
			}
		}
.public-offert {
	.sec1 {
		height: 70vh;
		.wrapper {
			position: absolute;
			top:50%;
			left:50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);

			h1 {
				color: $rd;
				font-size: 35px;
				font-weight: bold;
			}
		}		
	}
	.sec2 {
		blockquote {
			*{
				line-height: 1.5;
				font-size: 18px;
			}
			h2 {
				font-size: 23px;
				font-weight: bold;
				a {
					color: $rd;
					font-size: 25px;
				}
			}
			.fz-20{
				font-size: 20px;
			}
			ol {
				li {
					padding-top: 1em;
				}
			}
		}
	}
}

a.active[data-toggle="tab"]  {
	background: $rd!important;
	color: #fff!important;
}

.organizer {
	@extend .sec2;

	h5 {
		font-size: 30px;
		span {
			font-size: 20px;
		}
	}
	.ul-cont {
		.active {
			position: relative;
			background: $rd;
			color: white;
			border-color:$rd;
		}
		.invesre {
			text-align: center;
			max-width: 60px;
			background: $rd;
			color: #fff;
			padding: .5em;
			border-radius: 30px;
			font-size: 12px;
			font-weight: bold;
		}
		blockquote {
			border-left: 8px solid rgba($rd, 0.6)!important;
			&:before {
				color: rgba($rd, 0.6)!important;
			}
			p {
				color: $rd;
				font-weight: bold;
				font-size: 18px;
			}
		}
		.blockquote2 {
			p {
				font-size: 18px;
				font-weight: normal;
				color: black;
			}
			h3 {
				font-size: 20px;
				line-height: 1.7;
			}
			ul {
				li {
					font-size: 18px;
				}
			}
		}
	}
	.spinner-border {
		width: 1.25em;
		height: 1.25em;
	}
	
}

.mandals {
	@extend .sec2;
	h5 {
		font-size: 30px;
		span {
			font-size: 20px;
		}
	}

	blockquote {
		border-left: 8px solid rgba($rd, 0.6)!important;
		&:before {
			color: rgba($rd, 0.6)!important;
		}
		h3 {
			color: $rd;
			font-weight: bold;
			font-size: 22px;
			text-align: center;
		}
		@media screen and (max-width: 576px) {
			border-left: none!important;
			max-width: 576px;
			&:before {
				display: none!important;
			}
		}
		p {
			font-size: 18px;
		}
		.questions {
			li {
				font-size: 18px;
			}
		}
		.ul-cont {
			.active {
				position: relative;
				background: $rd;
				color: white;
				border-color:$rd;
				font-weight: bold;
			}
			@media screen and (max-width: 576px) {
				padding: 0;
			}
		}

		.diagramme {
			position: relative;
			border-radius:50%;
			#myChart {
				max-width: 270px;
			}
			
		}
	}
}

/*****************************************footer*****************************************/

.col_white_amrc {
  color: white;
}

footer {
  -webkit-clip-path: polygon(0% 0%, 50% 12%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 12%, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  min-height: 1px;
  height: 100%;
  padding: 4em 0px 25px 0px;
  z-index: 1000;
  font-family: 'Montserrat', serif;

  a {
  	color: white!important;
  }
}

.pt2 {
  font-family: 'Montserrat', serif;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.headin5_amrc {
  font-weight: bold;
}

footer p {
  font-size: 16px;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 16px;
  padding: 0px 0px 10px 0px;

  li {
    padding: 0px 0px 5px 0px;

    a {
      color: lightgray;
      transition: .5s;

      &:hover {
        color: white;
        text-decoration: none;
        transition: .5s;
      }

    }
  }
}

.fleft {
  float: left;
  font-size: 1.5em;
  color: #fff;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
  font-size: 1.3em;

  li {
    p {
      display: contents;
      color: lightgray;
    }

    a {
      color: lightblue;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      margin-top: 5px;
      color: white;

      &:hover {
        color: $rd!important;
      }
    }
  }
}

.bottom_border {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.mailto_link {
  text-decoration: none;
  color: white;
  transition: .5s;

  a {
    text-decoration: none;
    color: white;
    transition: .5s;
  }

  &:hover, a:hover {
    color: $rd!important;
    text-decoration: unset;
    transition: .3s;
  }
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;

  li {
    display: inline;

    a {
      color: white;
      margin: 0 12px;
    }
  }
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    float: left;

    i {
      width: 2em;
      height: 2em;
      text-align: center;
      transition: .6s;
    }

    a {
      width: 42px;
      height: 42px;
      line-height: 1.6em;
      color: white;
      border: 1px solid #CCC;
      padding: 8px;
      border-radius: 50%;
      transition: .6s;
      display: block;
      margin-bottom: 1em;
      text-align: center;

      &:hover {
        color: $rd;
        box-shadow: 0 0 20px white;
      }
    }
  }
  
}
.payments p {
  		color: white!important;
  		font-size: 40px!important;
}

.lightbg {
	position: relative;
	bottom: 4px;
	background: #fff;
	color: black;
	padding-right: .5em;
	padding-left: .5em;
	border-radius: 8px;
	font-size: 30px;
}

.mwdth320 {
	max-width: 320px!important;
}

.non-rd {
	color:black!important;
	p, h5 {
		color: $rd!important;
		font-size: 22px;
	}
	li {
		font-size: 18px!important;
		margin-top: 1.5rem;
	}

	.blck {
		color: black;
		font-size: 15px;
	}
}

blockquote {
	margin: 0!important;
	padding: 30px 30px 30px 60px!important;
	border-left: 8px solid #CBDDE7!important;
	position: relative!important;
	background: #fff!important;
	font-family: 'Lato', sans-serif!important;
	font-weight: 300!important;
	&:before {
		content: "\201C"!important;
		font-family: Arial;
		color: #CBDDE7!important;
		font-size: 70px!important;
		position: absolute!important;
		left: 15px!important;
		top: 5px!important;
	}
	
	blockquote p {
		font-style: italic!important;
		font-size: 24px!important;
		margin-top: 0!important;  
	}
	cite {
		font-style: normal!important;
		font-weight: 300!important;
	}
	@media screen and (max-width: 576px) {
		padding: 30px 30px 30px 30px!important;
		text-align: left!important;
		&:before {
			display: none!important;
		}
	}
}

.smaller {
	font-size: 20px!important;
}

.tick {
	li:before {
		content: '\2713   ';
		color:$rd;
		font-weight: bolder;
		font-size: 22px;
	}
}
.big {
	font-size: 24px;
}